
h4{
	font-size:12px;
    text-align: left;
	font-weight: 300;
    color: rgb(68, 67, 67);
    margin-top: 20px;
}

h5{
	font-size:2px;
    text-align: left;
	font-weight: 100;
	padding-top: 10px;
}

#main{
    background-color: #0f1970;    
    padding: 20px;
}

.container{
    font-weight: 100;
}

.container h1{
    text-align: left;
    font-size: 35px; 
    text-align: left;
    color: white;
}

.container h2 {
	font-size:30px;
    text-align: left;
    padding-bottom: 20px;
}

.container p {
	font-size:18px;
	color:rgb(49, 46, 46);
    text-align: left;
    font-weight: 400;
}

.box{
    padding: 10px;
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
    box-shadow: 10px 10px rgb(184, 184, 241);
}

.readmore{
    /* background-color: rgb(228, 225, 225); */
    color: black;
    text-align: left;
    border-radius: 20px;
    list-style: none;
    /* margin-right: 10px; */
}

.list{
    text-align: left;
    padding: 10px;
    margin-left: 30px;
}

.container .box .readmore{
    font-size: 15px;
    font-weight: 300;
}
